{% extends 'base.html' %}

{% block titulo_conteudo %} Detalhes da Categoria {% endblock titulo_conteudo %}

{% block conteudo %}
<table class="table table-bordered">
    <tbody>
        <tr>
            <th scope="row">ID:</th>
            <td>{{ categoria.id }}</td>
        </tr>
        <tr>
            <th scope="row">Nome:</th>
            <td>{{ categoria.nome }}</td>
        </tr>
        <tr>
            <th scope="row">Ordem:</th>
            <td>{{ categoria.ordem }}</td>
        </tr>
    </tbody>
</table>
<a href="{% url 'categoria' %}" class="btn btn-secondary btn-sm">Voltar</a>
{% endblock conteudo %}