{% extends 'base.html' %}

{% block titulo_conteudo %} Listagem de Categoria {% endblock titulo_conteudo %}

{% block conteudo %}

<button class="btn btn-primary" onclick="location.href='{% url 'form_categoria' %}'">Nova Categoria</button>
<button class="btn btn-secondary" onclick="window.location.reload();">Recarregar</button>

<p></p>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Descrição</th>
            <th scope="col">Ordem</th>
            <th scope="col" style="width: 250px;">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for item in lista %}
        <tr>
            <td> {{item.id}}</td>
            <td> {{item.nome}}</td>
            <td>{{item.ordem}}</td>
            <td>
                <button class="btn btn-info text-white btn-sm me-1" onclick="location.href='{% url "detalhes_categoria" item.id %}'">Detalhes</button>
                <button class="btn btn-warning btn-sm me-1" onclick="location.href='{% url "editar_categoria" item.id %}'">Alterar</button>
                <button class="btn btn-danger btn-sm" onclick="location.href='{% url "remover_categoria" item.id %}'">Excluir</button>
            </td>
            
        </tr>


        {% endfor %}
      
    </tbody>
</table>

{% endblock conteudo %}